.filter-btn {
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px;
    font-weight: bold;
}
.filter-btn:hover{
    background-color: #fff;
    color: #444;
    border-color: #444;
}
.filter-list {
    display: none;
    gap: 10%;
    flex-wrap: wrap;
    padding: 10px;
    list-style: none;
    margin: 0;
    z-index: 999;
}

.filter-list li {
    cursor: pointer;
    padding: 5px;
    gap:10%;
    display: flex;
    width: 60px;
}

.filter-list li:hover {
    color:aqua
}
