body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.filter-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.arrow {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.right-arrow {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}