body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 20px;
    padding: 20px;
}
@media (min-width: 640px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) { 
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) { 
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

.img-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.img-item img {
    width: 100%;
    height: auto;
    display: block;
}
.img-item:hover{
    cursor: pointer;
}

.filter-btn {
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px;
    font-weight: bold;
}
.filter-btn:hover{
    background-color: #fff;
    color: #444;
    border-color: #444;
}
.filter-list {
    display: none;
    gap: 10%;
    flex-wrap: wrap;
    padding: 10px;
    list-style: none;
    margin: 0;
    z-index: 999;
}

.filter-list li {
    cursor: pointer;
    padding: 5px;
    gap:10%;
    display: flex;
    width: 60px;
}

.filter-list li:hover {
    color:aqua
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    margin: auto;
    max-width: 80%;
    border:2px blue solid;
    max-height: 100%;
}

.details{
    background-color: black;
    color:wheat;
    
}
.modal-content img {
    border: 2px red solid;
    width: 100%;
    height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}
.button-container {
    display: flex;
    text-align: center;
    margin: 20px 0;
    justify-content: center;
}

.button-container button {
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-size: 16px;
    font-weight: bold;
}

.button-container button:hover {
    background-color: #fff;
    color: #444;
    border-color: #444;
}